/*
 * Style twaks
 * --------------------------------------------------
 */
body {
  padding-top: 70px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    line-height: 1;
    color: #333;
}
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .media-object {
    width: 100%;
}
 .navbar-brand{
    width: 60%;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }
  
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }
  .sidebar-nav{
    width: 10;
  }
  .panel-primary {
    display: block;
    justify-content: space-between;
    width: 45%;
    float: left;
    margin: 4px;
}
  .panel-heading {
    width: 100%;
    height: 30px;
}
  .media-object{
    width: 100%;
  }
  .well {
    padding: 1px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
  .sidebar-offcanvas {
    position: relative;
    top: 0;
    width: 100%; /* 6 columns */
  }
}
